# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Datasets
*.csv
*.xlsx
*.json
*.pcap
*.pcapng

# Large trained models
*.pkl
*.joblib
*.h5
*.pt
*.pth

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log